tweets-opinion-mining {

  token {

    consumer {

      key = "your-consumer-key"

      secret = "your-consumer-secret"

    }

    access {

      key = "your-access-key"

      secret = "your-access-secret"

    }

  }

  input {

      query = "my query"

  }

  output {

      path = "/tmp/result.csv"

  }

}